.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;
    padding: 2rem;
}
.inner{
    background-color:white;
    width:48%;
    height:40%;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
}
