<html>

<head>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="static/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/index.css">
  <script type="text/javascript" src="eel.js"></script>
  <!-- Compiled and minified JavaScript -->


</head>

<body>
  <nav class="base-naviga">
    <div class="nav-top-div">
      Sys-Monitor
    </div>
    <div class="nav-central-div"></div>
    <div class="nav-rig-div" id="nav-dropper">
      Tools <span class="fat-span">&#9662;</span>
    </div>
  </nav>
  <div class="nav-dropdown" id="nav-dropdown">
    <div class="dropdown-elem">
      a
    </div>
    <div class="dropdown-elem">
      b
    </div>
  </div>
</body>
<script src="static/js/nav.js"></script>

</html>
